.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;

  h2 {
  font-size: 24px;
  }

  p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

#home-flats {
    padding: 100px 0;

  h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  }
}

.header-flat-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    padding-left: 0;
}

.header-flat-owner {
    padding: 20px;
}

.header-flat p {
    font-weight: normal;
    font-size: 14px;
    color: #777777;
}

.header-flat h1 {
    font-size: 18px;
    margin-top: 0;
}
